<section id="room">
	<h1>{{ game.name.split('').join(' ') }}</h1>

	<div class="col-md-12">
		<div class="well well-sm player-box" 
			href="#"
			ng-repeat="player in game.players">
			<img ng-src="{{ player.picture }}"/>
			<span>{{ player.displayName }}</span>
			<img class="character" 
				 ng-src="{{ player.imageUrl }}"
				 ng-if="me(player)"/>
			<a name="addToTeam"
				ng-if="myTurn && game.roomLeftOnTeam && (game.currentGamePhase === 'team building')"
				href="#"
				ng-click="addToTeam(player)">
				Add to team</a>
			<a name="guessMerlin"
				ng-if="user.character === 'Assassin' && (game.currentGamePhase === 'guess merlin') && (player.loyalty === 'good' || player.character === 'Oberon')"
				href="#"
				ng-click="guessMerlin(player)">
				Guess Merlin</a>
			<img ng-src="/icons/approve.png"
				 ng-if="player.approvedQuest && (game.currentGamePhase === 'quest voting' || game.currentGamePhase === 'team building')"/>
			<img ng-src="/icons/reject.png"
				 ng-if="!player.approvedQuest && (game.currentGamePhase === 'quest voting' || game.currentGamePhase === 'team building')"/>
		</div>
	</div>

	<!-- test box -->
	<div class="well" id="test">
		<span>Me: {{ user.displayName }}</span>
		<span>Turn: {{ game.currentPlayerTurn.displayName }}</span>
		<span>Team:</span>
			<ul>
				<li ng-repeat="p in game.currentQuestPlayersGoing">
					{{p.displayName}}
				</li>
			</ul>
		<span>Quest #: {{ game.currentQuestIdx + 1 }}</span>
		<span>Players Needed: {{ game.currentQuestPlayersNeeded }}</span>
		<span>To fail: {{ game.currentQuestToFail }}</span>
		<span>On quest?: {{ user.onQuest }}</span>
		<span>Approved?: {{ user.approvedQuest }}
		<span>Vote Track: {{ game.currentVoteTrack }}</span>
		<span>Phase: {{ game.currentGamePhase }}</span>
		<span>Loyal Score: {{ game.loyalScore }}</span>
		<span>Evil Score: {{ game.evilScore }}</span>
		<span>Team Approves: {{ game.currentQuestApproves }}</span>
		<span>Team Rejects: {{ game.currentQuestRejects }}</span>
	</div>

	<div class="well" id="chat">
		<p ng-repeat="chat in chats | orderBy:'-'">{{ chat.text }}</p>
	</div>
	<form>
		<div class="form-group">
			<input 
				name="chatInput" 
			    type="text"
				ng-model="newMessage.text"
				placeholder="Enter your message"
				class="form-control" />
		</div>
		<a 
			type="submit" 
			class="btn btn-default" 
			ng-click="addMessage()">
			Enter
		</a>
		<a 
			class="btn btn-success" 
		    ng-disabled="!ableToBegin()" 
		    ng-if="isHost()"
		    ng-click="startGame()">
		    Begin Game
		</a>
		<a 
			class="btn btn-default"  
		    ng-click="voteApprove()"
		    ng-if="game.currentGamePhase === 'team voting'">
		    Approve
		</a>
		<a 
			class="btn btn-default"  
		    ng-click="voteReject()"
		    ng-if="game.currentGamePhase === 'team voting'">
		    Reject
		</a>
		<a 
			class="btn btn-default"  
		    ng-click="successQuest()"
		    ng-if="(game.currentGamePhase === 'quest voting') && user.onQuest">
		    Success
		</a>
		<a 
			class="btn btn-default"  
		    ng-click="failQuest()"
		    ng-if="(game.currentGamePhase === 'quest voting') && user.onQuest">
		    Fail
		</a>
		<a 
			class="btn btn-default"  
		    ng-click="proposeTeam()"
		    ng-if="myTurn && (game.currentGamePhase === 'team building')">
		    Propose Quest
		</a>
		<a 
			class="btn btn-default"
			ng-if="myTurn && (game.currentGamePhase === 'team building')"  
		    ng-click="resetTeam()">
		    Reset Team
		</a>
	</form>
</section>