#home {

 	h1 {
		margin-top: 40px;
		text-align: center;
		font-size: 72px;
	}

	input {
		margin: 5px;
	}

	button {
		display: block !important;
		text-align: center;
		margin: 0 auto;
	}

	@media screen and (max-width: 800px) {
		h1 {
			font-size: 48px;
		}

		input {
			margin: 20px auto;
		}

		div {
			padding: 0;
		}

		button {
			width: 100%;
		}
	}
}

