#dashboard {
	border: 1px solid black;
	height: 175%;
	margin: 10px;
	width: 95%;

	button {
		background-color: #A0C3FF;
		border-radius: 0;
		color: black;
		float: left;
		margin: 0;
		width: 33.33%;
	}
}