#privateLog {
	position: fixed;
	bottom: 220px;
	right: 0px;
	width: 50%;
	height: 10%;

	@media screen and (max-width: 800px) {
		position: static;
		display: block;
		width: 100%;
	}
}

.highlighted {
	color: #DFF0D8;
}
