#questLog {

	div {
		display: inline-block;
	}

    #voteTrack {
        margin: 1em;
    }

}

.quest {
	display: inline-block;
	border: 2px solid #E7C86C;
	border-radius: 70%;
	font-size: 32px;
	color: #E7C86C;
	margin: 5px;
	padding: 10px 30px;

	@media screen and (max-width: 800px) {
		font-size: 12px;
		border-radius: 10%;
	}
}

.questInfo {
	color: #E7C86C;
	font-size: 12px;
	text-align: center;
	top: 12em;

	@media screen and (max-width: 800px) {
		position: static;
		display: block;
		width: 100%;
	}
}

.questFail {
	background-image:url('/icons/evil_token.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 85px 80px;

	@media screen and (max-width: 800px) {
		background-size: 65px 65px;
	}
}

.questPass {
	background-image:url('/icons/good_token.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95px 90px;

	@media screen and (max-width: 800px) {
		background-size: 65px 65px;
	}
}

.opaque {
	opacity: 0;
}
