<div id="buttonBar">
	<form>
		<button 
			class="btn btn-success" 
		    ng-disabled="!ableToBegin()"
		    ng-if="isHost()"
		    ng-hide="!game.waitingToPlay"
		    ng-click="startGame()">
		    Begin Game
		</button>
		<a 
			class="btn btn-default"  
		    ng-click="voteApprove()"
		    ng-if="(game.currentGamePhase === 'team voting') && needToVoteForTeam">
		    Approve
		</a>
		<a 
			class="btn btn-default"  
		    ng-click="voteReject()"
		    ng-if="(game.currentGamePhase === 'team voting') && needToVoteForTeam">
		    Reject
		</a>
		<a 
			class="btn btn-default"  
		    ng-click="successQuest()"
		    ng-if="(game.currentGamePhase === 'quest voting') && user.onQuest && needToVoteOnQuest">
		    Success
		</a>
		<a 
			class="btn btn-default"  
		    ng-click="failQuest()"
		    ng-if="(game.currentGamePhase === 'quest voting') && user.onQuest && needToVoteOnQuest">
		    Fail
		</a>
		<button 
			class="btn btn-default"  
		    ng-click="proposeTeam()"
		    ng-disabled="disablePropose()"
		    ng-if="myTurn && (game.currentGamePhase === 'team building')">
		    Propose Team
		</button>
		<a 
			class="btn btn-default"
			ng-if="myTurn && (game.currentGamePhase === 'team building')"
		    ng-click="resetTeam()">
		    Reset Team
		</a>
	</form>
</div>