<section id="lobby">
    <h1>L o b b y</h1>
    <h3>{{ user.displayName }}</h3>
    <img ng-src="{{user.picture}}" />
    <a href="#" class="btn btn-default" ng-click="openNewGameModal()">Create New Room</a>
    <a ui-sref="user({uid:user._id})" class="btn btn-default">Your User Stats</a>
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th>Room Name</th>
    			<th>Host</th>
    			<th># Players</th>
    			<th>Expected # Players</th>
    			<th>Notes</th>
    		</tr>
    	</thead>
		<tbody>
            <tr ng-repeat='game in games'>
    			<th scope="row"><a href="#" ng-click="openJoinGameModal(game)">{{ game.name }}</a></th>
    			<td> {{ game.hostName }} </td>
    			<td> {{ game.players.length }} </td>
    			<td> {{ game.maxSize }} </td>
    			<td> {{ specialRules(game) }} </td>
            </tr>
		</tbody>
    </table>
</section>
