<div id="privateLog">
	<span ng-if="investigatedPlayer">
		<span class="glyphicon glyphicon-eye-open"></span>
		{{ investigatedPlayer.displayName }} is {{ investigatedPlayer.loyalty }}
	</span>
	<span ng-repeat="player in game.players">
		<span ng-if="(user.character==='Percival') && (player.character==='Morgana')">
			<span class="glyphicon glyphicon-eye-open"></span>
			{{ player.displayName }} is a wizard
		</span>
		<span ng-if="(user.character==='Percival') && (player.character==='Merlin')">
			<span class="glyphicon glyphicon-eye-open"></span>
			{{ player.displayName }} is a wizard
		</span>
		<span ng-if="(user.loyalty==='evil') && (player.loyalty==='evil') && (player.character !=='Oberon')">
			<span class="glyphicon glyphicon-eye-open"></span>
			{{ player.displayName }} is a fellow agent of evil
		</span>
		<span ng-if="(user.character==='Merlin') && (player.loyalty==='evil') && (player.character !=='Mordred')">
			<span class="glyphicon glyphicon-eye-open"></span>
			{{ player.displayName }} is an agent of evil
		</span>
	</span>
	<p> Turn Order: 
		<span ng-repeat="player in game.turnOrder" 
			ng-class="{highlighted:player._id === game.currentPlayerTurn._id}">
			{{ player.displayName }} </span> </p>
</div>