* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: 'Open Sans', sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'lobby/main';
@import 'room/main';
@import 'user/main';
