* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  // background-image:url('https://upload.wikimedia.org/wikipedia/commons/a/af/Stone%2C_wall%2C_textura.jpg');
  // background-repeat: no-repeat;
  // background-position: center;
  font-family: 'Nunito', sans-serif;
  // font-family: 'Julius Sans One', sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'lobby/main';
@import 'new-game-modal/main';
@import 'room/main';
@import 'user/main';
