* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: 'Julius Sans One', sans-serif;
  color: #E7C86C;

  a {
    color: #CEE2F3;
    text-decoration: none;
  }
}

h1 {
  text-shadow: 3px 3px #000000;
}

#background {
  background-image:url('https://upload.wikimedia.org/wikipedia/commons/a/af/Stone%2C_wall%2C_textura.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -100;

  -webkit-filter: blur(2px) contrast(10%);
  -moz-filter: blur(2px) contrast(10%);
  -o-filter: blur(2px) contrast(10%);
  -ms-filter: blur(2px) contrast(10%);
  filter: blur(2px) contrast(10%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;
}

tr:hover {
  color: black;

  a {
    color: blue;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'lobby/main';
@import 'new-game-modal/main';
@import 'room/main';
@import 'user/main';

// mobile screens
@media screen and (max-width: 800px) {
  .mobile-hide {
    display: none;
  }
}

// only on larger screens
@media screen and (min-width: 801px) {
    .mobile-appear {
      display: none;
    }
}
